@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#links:hover {
  transform: translateY(-1px);
}

#activitySection::-webkit-scrollbar,
#quickAccess::-webkit-scrollbar,
#filesNavigator::-webkit-scrollbar,
#fileView::-webkit-scrollbar,
#favouriteFileView::-webkit-scrollbar {
  display: none;
}

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
